{% extends "bases/base.html" %}

{% block content %}
    <form method="post" class="m-2">
        {% csrf_token %}
        {% for field in form %}
          <p>
            {{ field.label_tag }} {{ field }}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
    <div style="background-color: #FFFCF8" class="pt-3 pr-3 pb-3 m-3">
        <div class="ml-3 mb-1">Terms and Conditions</div>
            <small>
                <ul>
                    <li>This is not an official service, but a portfolio application of a developer, Miho Maehara.
                        Therefore, this application including your data might be deleted at some point. Please enjoy the "My Sweets Base" as a trial.</li>
                    <li>To prevent security risks, I do not require your email address. In other words, there is no way to reset your password.
                        When you forget your username and/or password, please create new account.</li>
                </ul>
            </small>
        <div class="ml-4">
            <input type="checkbox" id="agreement-check" class="mr-1" onclick="toggleButtonDisable()"><label for="agreement-check">I got it!</label>
        </div>
    </div>
        <button type="submit" class="btn m-2" id="submit-button" disabled>Sign Up</button>
    </form>
    <div><small class="link-custom">By signing up, you agree to our Terms and Conditions, and <a href="/privacy-policy">Privacy Policy</a>.</small></div>
    <br>
    <a href="/">Back to the top page</a>
{% endblock content %}

{% block extra_js %}
<script>
    function toggleButtonDisable() {
        const check = document.getElementById('agreement-check');
        const button = document.getElementById('submit-button');
        if (check.checked == true) {
            button.disabled = false;
        } else {
            button.disabled = true;
        }
    }
</script>
{% endblock extra_js %}