{% extends "bases/base.html" %}

{% block content %}
    <form method="post" class="m-2">
        {% csrf_token %}
        {% for field in form %}
          <p>
            {{ field.label_tag }} {{ field }}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        <div style="background-color: #FFFCF8" class="pt-3 pr-3 pl-3 pb-2 m-3">
            <small>
                <div>Registration of email address is optional.</div>
                <div>If you want to reset password when you forget it, please register it so that we can send you an email with reset password URL.</div>
                <div>You can register/edit/delete your email address later.</div>
            </small>
            <div>
                <input type="checkbox" id="agreement-check" class="mr-1" onclick="toggleButtonDisable()"><label for="agreement-check">I got it!</label>
            </div>
        </div>
        <button type="submit" class="btn m-2" id="submit-button" disabled>Sign Up</button>
    </form>
    <div><small class="link-custom">By signing up, you agree to our Terms and Conditions, and <a href="/privacy-policy">Privacy Policy</a>.</small></div>
    <br>
    <a href="/">Back to the top page</a>
{% endblock content %}

{% block extra_js %}
<script>
    function toggleButtonDisable() {
        const check = document.getElementById('agreement-check');
        const button = document.getElementById('submit-button');
        if (check.checked == true) {
            button.disabled = false;
        } else {
            button.disabled = true;
        }
    }
</script>
{% endblock extra_js %}