{% extends "bases/base.html" %}

{% block content %}
    <form method="post" class="m-2">
        {% csrf_token %}
        {% for field in form %}
          <p>
            {{ field.label_tag }} {{ field }}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
    <div>
        <ul>
            <li>This is not an official service, but a portfolio application of a developer, Miho Maehara.
                Therefore, this application and your data might be deleted at some point. Please enjoy the "My Sweets Base" as a trial.</li>
            <input type="checkbox" id="agreement-check" class="mr-1" onclick="toggleButtonDisable()"><label for="agreement-check">I got it!</label>
        </ul>
    </div>
        <button type="submit" class="btn m-2" id="submit-button" disabled>Sign Up</button>
    </form>
    <div><small>By signing up, you agree to our <a href="/privacy-policy">Privacy Policy</a>.</small></div>
    <br>
    <a href="/">Back to the top page</a>
{% endblock content %}

{% block extra_js %}
<script>
    function toggleButtonDisable() {
        const check = document.getElementById('agreement-check');
        const button = document.getElementById('submit-button');
        if (check.checked == true) {
            button.disabled = false;
        } else {
            button.disabled = true;
        }
    }
</script>
{% endblock extra_js %}