{% extends "base.html" %}

{% block extra_meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock extra_meta %}

{% block content %}
<div id="vue-el">
    <form v-on:submit.prevent="addIngredient()" class="form-inline m-2">
        <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Name"
            v-model="newIngredient.name">

        <div class="form-group ml-2">
            <label for="expiration_date">Expiration Date: </label>
            <input
                type="date"
                class="form-control"
                id="expiration_date"
                v-model="newIngredient.expiration_date">
        </div>
        <button type="submit" class="btn btn-dark ml-1">Add</button>
    </form>
    <form v-on:submit.prevent="searchIngredients(word)" class="form-inline m-2">
        <input
            type="text"
            class="form-control"
            id="word"
            placeholder="Search"
            v-model="word">
    </form>
    <table class="table">
        <thead>
          <tr>
            <th scope="col" v-on:click="switchSort('name')">Name</th>
            <th scope="col" v-on:click="switchSort('expiration')">Expiration Date</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            <tr v-for="ingredient in ingredients">
                <td>${ingredient.name}</td>
                <td>${ingredient.expiration_date}</td>
                <td>
                {% load static %}
                <img v-if="ingredient.is_expired" src='{% static "image/caution-mark.png" %}' alt="expired" class="float-left" height="23px" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}

{% block extra_js %}
    <script type="text/javascript">
        axios.defaults.headers.common['X-CSRFToken'] = "{{ csrf_token }}";
        axios.defaults.headers.post['Content-Type'] = 'application/json';

        new Vue({
            el: '#vue-el',
            delimiters: ['${','}'],
            data: {
                ingredients: [],
                loading: false,
                currentIngredient: {},
                word: null,
                sortType: "expirationA",
                storageAPIUrl: null,
                storageAPIUrls:{ 'expirationA' : '/api/storage/e-a', 'expirationD' : '/api/storage/e-d', 'nameA' : '/api/storage/n-a', 'nameD' : '/api/storage/n-d' },
                newIngredient: { 'name': null, 'expiration_date': null },
            },
            mounted: function() {
                this.getIngredients();
            },
            methods: {
                getIngredients: function() {
                    if (this.sortType == "expirationA") {
                        this.storageAPIUrl = this.storageAPIUrls.expirationA
                    } else if (this.sortType == "expirationD") {
                        this.storageAPIUrl = this.storageAPIUrls.expirationD
                    } else if (this.sortType == "nameA") {
                        this.storageAPIUrl = this.storageAPIUrls.nameA
                    } else {
                        this.storageAPIUrl = this.storageAPIUrls.nameD
                    }
                    this.loading = true;
                    axios.get(this.storageAPIUrl)
                        .then((response) => {
                            this.ingredients = response.data;
                            this.loading = false;
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                searchIngredients: function(word) {
                    this.loading = true;
                    axios.get(this.storageAPIUrl + '/?search=' + word)
                        .then((response) => {
                            this.ingredients = response.data;
                            this.loading = false;
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                switchSort: function(th) {
                    this.loading = true;
                    if (th == "name") {
                        if (this.sortType == "nameA") {
                            this.storageAPIUrl = this.storageAPIUrls.nameD
                            this.sortType = "nameD"
                        } else {
                            this.storageAPIUrl = this.storageAPIUrls.nameA
                            this.sortType = "nameA"
                        }
                    } else if (th == "expiration") {
                        if (this.sortType == "expirationA") {
                            this.storageAPIUrl = this.storageAPIUrls.expirationD
                            this.sortType = "expirationD"
                        } else {
                            this.storageAPIUrl = this.storageAPIUrls.expirationA
                            this.sortType = "expirationA"
                        }
                    }
                    this.getIngredients();
                },
                addIngredient: function() {
                    this.loading = true;
                    axios.post('/api/ingredient/', this.newIngredient)
                        .then((response) => {
                            this.loading = false;
                            this.getIngredients();
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
            }
        })
    </script>
{% endblock extra_js %}
