{% extends "bases/base.html" %}

{% block content %}
    {% load static %}
    <div id="vue-el">
    <div class="row" id="util-row">
        <div class="col-3">
            <form v-on:submit.prevent="searchWishes()" class="form-inline mt-2" style="display: inline-block">
                <input
                    type="text"
                    class="form-control"
                    id="word"
                    placeholder="Search"
                    v-model="word"
                    v-on:input="clearSearch()">
            </form>
        </div>
        <div class="col-8">
            <span>Sort: </span>
            <button type="button" class="btn btn-info m-2" v-on:click="switchSort('title')">Title</button>
            <button type="button" class="btn btn-info m-2" v-on:click="switchSort('date')">Added Date</button>
        </div>
        <div class="col-1">
            <input type="image" src='{% static "image/add-button.png" %}' class="add-button" data-toggle="modal" data-target="#add-wish-modal"/>
        </div>
    </div>
    <div class="row" style="overflow-y: scroll;" id="wish-list">
        <div class="col-md-3 col-sm-5 p-1" v-for="wish in wishes" v-on:click="getWish(wish.id)">
            <div class="bg-white">
                <div class="p-2">
                    <h4 class="text-center">${wish.title}</h4>
                    <img v-bind:src="wish.image" class="w-100">
                    <div class="text-right">${wish.date_created}</div>
                </div>
            </div>
        </div>
    </div>

    {% include 'snippets/wishlist_modals.html' %}

</div>
{% endblock content %}

{% block extra_js %}
    <script type="text/javascript">
        axios.defaults.headers.common['X-CSRFToken'] = "{{ csrf_token }}";
        axios.defaults.headers.post['Content-Type'] = 'application/json';

        new Vue({
            el: '#vue-el',
            delimiters: ['${','}'],
            data: {
                wishes: [],
                loading: false,
                currentWish: {},
                currentWish_recipes: [],
                currentWish_new_recipes: [],
                currentWish_image: null,
                newWish: { 'title': null, 'note': "", 'image': null },
                newWish_recipes:[{ 'wish_id': null, 'link_title': "Recipe", 'url': null }],
                newWish_image: null,
                deleted_wish_recipe: { 'work_id': null, 'link_title': "Recipe", 'url': null },
                word: null,
                sortType: "dateD",
                wishAPIUrls:{ 'titleA': '/api/wish-list/t-a', 'titleD': '/api/wish-list/t-d', 'dateA': '/api/wish-list/d-a', 'dateD': '/api/wish-list/d-d' },
                display: null,
            },
            mounted: function() {
                this.getWishes();
                this.setDefaultValue();
                this.addEvents();
                this.manageHeights();
            },
            methods: {
                 {% include 'snippets/wishlist_methods.js' %}

                getToday: function() {
                    const toTwoDigits = num => num < 10 ? '0' + num : num;
                    let today = new Date();
                    let year = today.getFullYear();
                    let month = toTwoDigits(today.getMonth() + 1);
                    let day = toTwoDigits(today.getDate());
                    return `${year}-${month}-${day}`;
                },
                setDefaultValue: function () {
                    this.newWish.made_date = this.getToday();
                },
                switchSort: function(button) {
                    this.loading = true;
                    if (button == "title") {
                        if (this.sortType == "titleA") {
                            this.sortType = "titleD"
                        } else {
                            this.sortType = "titleA"
                        }
                    } else if (button == "date") {
                        if (this.sortType == "dateA") {
                            this.sortType = "dateD"
                        } else {
                            this.sortType = "dateA"
                        }
                    }
                    this.getWishes();
                },
                clearSearch: function () {
                    if (this.word == null || this.word == "") {
                        this.getWishes();
                    }
                },
                addEvents: function () {
                    window.addEventListener("resize", this.manageHeights, false);
                },
                manageHeights: function () {
                    let navHeight = $('#nav').outerHeight(true);
                    let utilHeight = $('#util-row').outerHeight(true);
                    let windowHeight = window.innerHeight;
                    let listHeight = windowHeight - utilHeight - navHeight;
                    document.getElementById('wish-list').style.height = `${listHeight}px`;
                },
            }
        });
    </script>
    <script>
        $('.modal').on("hidden.bs.modal", function (e) {
            if ($('.modal:visible').length) {
                $('body').addClass('modal-open');
            }
        });
    </script>
{% endblock extra_js %}