<nav class="navbar navbar-custom navbar-light navbar-expand-lg">
	<div class="navbar">
	<a class="navbar-brand" href="#">
	{% load static %}
	<img src='{% static "image/logo.png" %}' alt="logo" height="35" />
	</a>
	</div>
	<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#menu-items" aria-controls="menu-items" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
	</button>
	<div class="navbar-collapse collapse w-100" id="menu-items">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="#">Works</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Wish List</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Storage</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Settings</a>
			</li>
		</ul>
	</div>
</nav>	
	{% comment %}
	{% if request.user.is_authenticated %}
	{% endcomment %}