<nav class="navbar navbar-expand-md navbar-light fixed-top navbar-custom" id="nav">
  <a class="navbar-brand" href="#">
      {% load static %}
      <a href="/home"><img src='{% static "image/logo.png" %}' alt="logo" height="35" /></a>
  </a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarCollapse" style="">
    <ul class="navbar-nav ml-auto">
        {% url 'signup' as signup %}
        {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/works">Works</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/wish-list">Wish List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/storage">Storage</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="setting-menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-cog"></i></a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="dropdown-item font-weight-bold" style="pointer-events: none;">{{ request.user.username }}</li>
                    <li><a class="dropdown-item" href="/settings">Edit Account</a></li>
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                </ul>
            </li>
        {% endif %}
    </ul>
  </div>
</nav>