{% extends "base_for_home.html" %}

{% block content %}
    {% load static %}
    <div class="row m-1">
        <div class="col-sm-7 col-md-6 col-lg-7" style="background-color:#E2D1B1;" id="vue-el-w">
            <div id="recipe-browser" class="h-100" style="display: none;">
                <span aria-hidden="true" style="position:absolute; top:0; right:20px;" v-on:click="toggleIframe()">&times;</span>
                <iframe name="recipe-frame" class="w-100 h-100" style="border:none;"></iframe>
            </div>
            <div id="left-list" class="h-100">
                <div class="row">
                    <div class="col-3">
                        <form v-on:submit.prevent="searchItems()" class="form-inline m-2">
                            <input
                                type="text"
                                class="form-control"
                                id="word"
                                placeholder="Search"
                                v-model="word">
                        </form>
                    </div>
                    <div class="col-1 d-flex align-items-end">
                        <span v-on:click="clearSearch()" style="color: #D38E6C">Clear</span>
                    </div>
                    <div class="col-8">
                        <span>Sort: </span>
                        <button type="button" class="btn btn-info m-2" v-on:click="switchSort('title')">Title</button>
                        <button type="button" class="btn btn-info m-2" v-on:click="switchSort('date')">Date</button>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="displayRadios" id="works-checkbox" value="works" checked="checked" v-model="display">
                          <label class="form-check-label" for="works-checkbox">Works</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="displayRadios" id="wish-list-checkbox" value="wish" v-model="display">
                          <label class="form-check-label" for="wish-list-checkbox">Wish List</label>
                        </div>
                    </div>
                </div>
                <div class="row" style="overflow-y: scroll; height: 580px;">
                    <div v-if="display == 'works'" class="col-md-4 col-sm-5 p-1" v-for="work in works" v-on:click="getWork(work.id)">
                        <div class="bg-white">
                            <div class="p-2">
                                <h4 class="text-center">${work.title}</h4>
                                <img v-bind:src="work.image" class="w-100">
                                <div class="text-right">${work.made_date}</div>
                            </div>
                        </div>
                    </div>
                    <div v-if="display == 'wish'" class="col-md-4 col-sm-5 p-1" v-for="wish in wishes" v-on:click="getWish(wish.id)">
                        <div class="bg-white">
                            <div class="p-2">
                                <h4 class="text-center">${wish.title}</h4>
                                <img v-bind:src="wish.image" class="w-100">
                                <div class="text-right">${wish.date_created}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <!-- Work detail Modal -->
        <div class="modal fade" id="work-detail-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">${currentWork.title}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-4"><img v-bind:src="currentWork.image" class="w-100 "></div>
                      <div class="col-md-8">
                        <div v-for="recipe in currentWork_recipes">
                            <a v-on:click="toggleIframe()" v-bind:href="recipe.url" target="recipe-frame">${recipe.link_title}</a>
                        </div>
                        <div>${currentWork.made_date}</div>
                        <div>${currentWork.note}</div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#delete-work-modal">Delete</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" v-on:click="openEditModal()">Edit</button>
              </div>
            </div>
          </div>
        </div>
        <!-- End of Work detail Modal -->

        <!-- Edit Work Modal -->
      <div class="modal fade" id="edit-work-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">EDIT Work</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form v-on:submit.prevent="updateWork()">
            <div class="modal-body">
                <div class="form-group">
                  <label for="image">Image</label>
                    <div>
                    <img v-bind:src="currentWork_image" class="w-25 mb-1">
                    </div>
                  <input
                    type="file"
                    class="form-control"
                    id="image"
                    accept=".jpg, .jpeg, .png"
                    @change="processFile($event.target.files, 'edit')">
                </div>
                <div class="form-group">
                  <label for="title">Title</label>
                  <input
                    type="text"
                    class="form-control"
                    id="title"
                    placeholder="Enter title"
                    v-model="currentWork.title"
                    required="required" >
                </div>
                <div class="form-group">
                  <label for="made_date">Date</label>
                  <input
                    type="date"
                    class="form-control"
                    id="made_date"
                    v-model="currentWork.made_date"
                    required="required">
                </div>
                <div v-for="recipe in currentWork_recipes">
                    <div class="form-group">
                      <label for="title">Recipe URL</label>
                      <input
                        type="text"
                        class="form-control"
                        id="title"
                        placeholder="Enter url"
                        v-model="recipe.url" >
                    </div>
                    <div class="form-group">
                      <label for="title">Recipe title</label>
                      <input
                        type="text"
                        class="form-control"
                        id="title"
                        placeholder="Enter title"
                        v-model="recipe.link_title" >
                    </div>
                </div>
                <div class="form-group">
                  <label for="note">Note</label>
                  <textarea
                    class="form-control"
                    id="note"
                    placeholder="Enter Note"
                    v-model="currentWork.note"
                    rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
            </form>
          </div>
        </div>
       <div class="loading" v-if="loading===true">Loading&#8230;</div>
      </div>
    <!-- End of Edit Work modal -->

    <!-- Delete Work modal -->
        <div class="modal fade" id="delete-work-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Delete Work</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form v-on:submit.prevent="deleteWork()" class="form-inline">
                <div class="modal-body">
                  Are you sure to delete "${currentWork.title}"?
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">No</button>
                <button type="submit" class="btn btn-primary">Yes</button>
                </div>
                </form>
              </div>
            </div>
           <div class="loading" v-if="loading===true">Loading&#8230;</div>
        </div>
    <!-- End of Delete Work modal -->

    <!-- Wish detail Modal -->
    <div class="modal fade" id="wish-detail-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">${currentWish.title}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-4"><img v-bind:src="currentWish.image" class="w-100 "></div>
                  <div class="col-md-8">
                    <div v-for="recipe in currentWish_recipes">
                        <a v-on:click="toggleIframe()" v-bind:href="recipe.url" target="recipe-frame">${recipe.link_title}</a>
                    </div>
                    <div>${currentWish.date_created}</div>
                    <div>${currentWish.note}</div>
                  </div>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#delete-wish-modal">Delete</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" v-on:click="openWishEditModal()">Edit</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Wish detail Modal -->

    <!-- Edit Wish Modal -->
      <div class="modal fade" id="edit-wish-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">EDIT Wish</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form v-on:submit.prevent="updateWish()">
            <div class="modal-body">
                <div class="form-group">
                  <label for="image">Image</label>
                    <div>
                    <img v-bind:src="currentWish_image" class="w-25 mb-1">
                    </div>
                  <input
                    type="file"
                    class="form-control"
                    id="image"
                    accept=".jpg, .jpeg, .png"
                    @change="processFile($event.target.files, 'edit')">
                </div>
                <div class="form-group">
                  <label for="title">Title</label>
                  <input
                    type="text"
                    class="form-control"
                    id="title"
                    placeholder="Enter title"
                    v-model="currentWish.title"
                    required="required" >
                </div>
                <div v-for="recipe in currentWish_recipes">
                    <div class="form-group">
                      <label for="title">Recipe URL</label>
                      <input
                        type="text"
                        class="form-control"
                        id="title"
                        placeholder="Enter url"
                        v-model="recipe.url" >
                    </div>
                    <div class="form-group">
                      <label for="title">Recipe title</label>
                      <input
                        type="text"
                        class="form-control"
                        id="title"
                        placeholder="Enter title"
                        v-model="recipe.link_title" >
                    </div>
                </div>
                <div class="form-group">
                  <label for="note">Note</label>
                  <textarea
                    class="form-control"
                    id="note"
                    placeholder="Enter Note"
                    v-model="currentWish.note"
                    rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
            </form>
          </div>
        </div>
       <div class="loading" v-if="loading===true">Loading&#8230;</div>
    </div>
    <!-- End of Edit Wish modal -->

    <!-- Delete Wish modal -->
    <div class="modal fade" id="delete-wish-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Delete Wish</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form v-on:submit.prevent="deleteWish()" class="form-inline">
            <div class="modal-body">
              Are you sure to delete "${currentWish.title}"?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">No</button>
            <button type="submit" class="btn btn-primary">Yes</button>
            </div>
            </form>
          </div>
        </div>
       <div class="loading" v-if="loading===true">Loading&#8230;</div>
    </div>
    <!-- End of Delete Wish modal -->

        </div>
        <div class="col-sm-5 col-md-6 col-lg-5" style="background-color:#FFF9EF;">
            <div id="vue-el-s">
            <div class="row">
                <form v-on:submit.prevent="searchIngredients(word)" class="form-inline m-2">
                    <input
                        type="text"
                        class="form-control"
                        id="word"
                        placeholder="Search"
                        v-model="word">
                </form>
                <div class=" d-flex align-items-end">
                        <span v-on:click="clearSearch()" style="color: #D38E6C">Clear</span>
                </div>
            </div>
            <div>
                <table class="table table-sm">
                    <thead style="display: block;">
                      <tr>
                        <th scope="col" v-on:click="switchSort('name')" style="width: 230px">Name</th>
                        <th scope="col" v-on:click="switchSort('expiration')" style="width: 200px">Expiration Date</th>
                        <th scope="col" style="width: 50px"></th>
                        <th scope="col" style="width: 50px"></th>
                      </tr>
                    </thead>
                    <tbody style="overflow-y: scroll; height: 250px; display: block;">
                        <tr v-for="ingredient in ingredients">
                            <td v-on:dblclick="getIngredient(ingredient.id, 'edit')" style="width: 230px;">${ingredient.name}</td>
                            <td v-on:dblclick="getIngredient(ingredient.id, 'edit')" style="width: 200px;">${ingredient.expiration_date}</td>
                            <td style="width: 50px;">
                            {% load static %}
                            <img v-if="ingredient.is_expired" src='{% static "image/caution-mark.png" %}' alt="expired" class="float-left" height="23px" />
                            </td>
                            <td v-on:click="getIngredient(ingredient.id, 'delete')" class="text-secondary" style="width: 50px;">&times;</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        <!-- Edit Ingredient modal -->
        <div class="modal fade" id="edit-ingredient-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Edit Ingredient</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form v-on:submit.prevent="updateIngredient()" class="form-inline">
                <div class="modal-body">
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="Enter name"
                    v-model="currentIngredient.name"
                    required="required" >
                  <input
                    type="date"
                    class="form-control"
                    id="expiration_date"
                    v-model="currentIngredient.expiration_date" >
                </div>
                <div class="modal-footer">
                <button type="submit" class="btn btn-primary" >Save changes</button>
                </div>
                </form>
              </div>
            </div>
           <div class="loading" v-if="loading===true">Loading&#8230;</div>
          </div>
        <!-- End of Edit Ingredient modal -->

        <!-- Delete Ingredient modal -->
        <div class="modal fade" id="delete-ingredient-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Delete Ingredient</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form v-on:submit.prevent="deleteIngredient()" class="form-inline">
                <div class="modal-body">
                  Are you sure to delete "${currentIngredient.name}"?
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">No</button>
                <button type="submit" class="btn btn-primary" >Yes</button>
                </div>
                </form>
              </div>
            </div>
           <div class="loading" v-if="loading===true">Loading&#8230;</div>
          </div>
        <!-- End of Delete Ingredient modal -->
        </div>


     <div id="vue-el-l">
         <h5>Shopping List</h5>
        <form v-on:submit.prevent="addItem()" class="form-inline m-2">
            <input
                type="text"
                class="form-control"
                id="name"
                placeholder="Name"
                v-model="newItem.name"
                required="required">
            <input
                type="text"
                class="form-control"
                id="amount"
                placeholder="Amount"
                v-model="newItem.amount"
                required="required">
            <button type="submit" class="btn btn-dark ml-1">Add</button>
        </form>
         <table class="table table-sm">
            <thead style="display: block;">
              <tr>
                <th scope="col" style="width: 50px"></th>
                <th scope="col" style="width: 230px">Name</th>
                <th scope="col" style="width: 200px">Amount</th>
                <th scope="col" style="width: 50px"></th>
              </tr>
            </thead>
            <tbody style="overflow-y: scroll; height: 150px; display: block; width:100%;">
                <tr v-for="item in items">
                    <td style="width: 50px"><input type="checkbox" v-model="item.is_bought" v-on:click="checkItem(item.id)"></td>
                    <td v-on:dblclick="getItem(item.id, 'edit')" style="width: 230px">${item.name}</td>
                    <td v-on:dblclick="getItem(item.id, 'edit')" style="width: 200px">${item.amount}</td>
                    <td v-on:click="getItem(item.id, 'delete')" class="text-secondary" style="width: 50px">&times;</td>
                </tr>
            </tbody>
         </table>


        <!-- Edit Item modal -->
        <div class="modal fade" id="edit-item-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Edit Item</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form v-on:submit.prevent="updateItem()" class="form-inline">
                <div class="modal-body">
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    placeholder="Enter name"
                    v-model="currentItem.name"
                    required="required" >
                  <input
                    type="text"
                    class="form-control"
                    id="amount"
                    v-model="currentItem.amount"
                    required="required">
                </div>
                <div class="modal-footer">
                <button type="submit" class="btn btn-primary" >Save changes</button>
                </div>
                </form>
              </div>
            </div>
           <div class="loading" v-if="loading===true">Loading&#8230;</div>
          </div>
        <!-- End of Edit Item modal -->

        <!-- Delete Item modal -->
        <div class="modal fade" id="delete-item-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Delete Item</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form v-on:submit.prevent="deleteItem()" class="form-inline">
                <div class="modal-body">
                  Are you sure to delete "${currentItem.name}"?
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">No</button>
                <button type="submit" class="btn btn-primary" >Yes</button>
                </div>
                </form>
              </div>
            </div>
           <div class="loading" v-if="loading===true">Loading&#8230;</div>
          </div>
        <!-- End of Delete Item modal -->
        </div>
     </div>
    </div>
    </div>



{% endblock content %}

{% block extra_js %}
    <script type="text/javascript">
        axios.defaults.headers.common['X-CSRFToken'] = "{{ csrf_token }}";
        axios.defaults.headers.post['Content-Type'] = 'application/json';

        new Vue({
            el: '#vue-el-w',
            delimiters: ['${','}'],
            data: {
                display: "works",
                works: [],
                loading: false,
                currentWork: {},
                currentWork_recipes: [],
                currentWork_image: null,
                workAPIUrls:{ 'titleA': '/api/works/t-a', 'titleD': '/api/works/t-d', 'dateA': '/api/works/d-a', 'dateD': '/api/works/d-d' },
                wishes: [],
                currentWish: {},
                currentWish_recipes: [],
                currentWish_image: null,
                wishAPIUrls:{ 'titleA': '/api/wish-list/t-a', 'titleD': '/api/wish-list/t-d', 'dateA': '/api/wish-list/d-a', 'dateD': '/api/wish-list/d-d' },
                word: null,
                sortType: "dateD",
            },
            mounted: function() {
                this.getWorks();
                this.getWishes();
            },
            methods: {
                getWorks: function() {
                    this.loading = true;
                    axios.get(this.workAPIUrls[this.sortType])
                        .then((response) => {
                            this.works = response.data;
                            this.loading = false;
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        });
                },
                getWork: function(id) {
                    this.loading = true;
                    axios.get(`/api/work/${id}/`)
                        .then((response) => {
                            this.currentWork = response.data;
                            this.currentWork_image = response.data.image;
                            this.getRecipe(id);
                            $("#work-detail-modal").modal('show');
                            this.loading = false;
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                getRecipe: function(work_id) {
                    this.loading = true;
                    axios.get('/api/works/recipe-by-work/' + work_id)
                        .then((response) => {
                            this.currentWork_recipes = response.data;
                            this.loading = false;
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                updateWork: function() {
                    let formData = new FormData();
                    formData.append("title", this.currentWork.title);
                    if (this.currentWork.image instanceof File) {
                        formData.append("image", this.currentWork.image);
                    }
                    formData.append("made_date", this.currentWork.made_date);
                    formData.append("note", this.currentWork.note);

                    this.loading = true;
                    axios.put(`/api/work/${this.currentWork.id}/`, formData, {
                            headers: {
                              'Content-Type': 'multipart/form-data'
                            }
                        })
                        .then((response) => {
                            this.loading = false;
                            this.currentWork = response.data;
                            this.updateRecipe();
                            $("#edit-work-modal").modal('toggle');
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                updateRecipe: function() {
                    this.loading = true;
                    this.currentWork_recipes.forEach(function(recipe) {
                        console.log(recipe);
                        console.log(recipe.work_id);
                        axios.put(`/api/recipe/${recipe.id}/`, recipe)
                        .then((response) => {
                            this.loading = false;
                            this.getWorks();
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                    });
                    this.getWorks();
                },
                deleteWork: function() {
                    this.loading = true;
                    axios.delete(`/api/work/${this.currentWork.id}/`)
                        .then((response) => {
                            this.loading = false;
                            this.getWorks();
                            $("#delete-work-modal").modal('toggle');
                            $("#work-detail-modal").modal('toggle');
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                processFile: function(filelist, action) {
                    if (!filelist.length) return;

                    if (action == "add") {
                        this.newWork.image = filelist[0];
                    } else if (action == "edit") {
                        this.currentWork.image = filelist[0];
                        const data = URL.createObjectURL(filelist[0]);
                        this.currentWork_image = data;
                    }
                },
                getToday: function() {
                    const toTwoDigits = num => num < 10 ? '0' + num : num;
                    let today = new Date();
                    let year = today.getFullYear();
                    let month = toTwoDigits(today.getMonth() + 1);
                    let day = toTwoDigits(today.getDate());
                    return `${year}-${month}-${day}`;
                },
                openEditModal: function() {
                    $("#work-detail-modal").modal('toggle');
                    $("#edit-work-modal").modal('show');
                },
                searchWorks: function() {
                    this.loading = true;
                    axios.get(this.workAPIUrls[this.sortType] + '/?search=' + this.word)
                        .then((response) => {
                            this.works = response.data;
                            this.loading = false;
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                getWishes: function() {
                    this.loading = true;
                    axios.get(this.wishAPIUrls[this.sortType])
                        .then((response) => {
                            this.wishes = response.data;
                            this.loading = false;
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                getWish: function(id) {
                    this.loading = true;
                    axios.get(`/api/wish/${id}/`)
                        .then((response) => {
                            this.currentWish = response.data;
                            this.currentWish_image = response.data.image;
                            this.getWishRecipe(id);
                            $("#wish-detail-modal").modal('show');
                            this.loading = false;
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                getWishRecipe: function(wish_id) {
                    this.loading = true;
                    axios.get('/api/wish-list/recipe-by-wish/' + wish_id)
                        .then((response) => {
                            this.currentWish_recipes = response.data;
                            this.loading = false;
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                updateWish: function() {
                    let formData = new FormData();
                    formData.append("title", this.currentWish.title);
                    if (this.currentWish.image instanceof File) {
                        formData.append("image", this.currentWish.image);
                    }
                    formData.append("note", this.currentWish.note);

                    this.loading = true;
                    axios.put(`/api/wish/${this.currentWish.id}/`, formData, {
                            headers: {
                              'Content-Type': 'multipart/form-data'
                            }
                        })
                        .then((response) => {
                            this.loading = false;
                            this.currentWish = response.data;
                            this.updateWishRecipe();
                            $("#edit-wish-modal").modal('toggle');
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                updateWishRecipe: function() {
                    this.loading = true;
                    this.currentWish_recipes.forEach(function(recipe) {
                        console.log(recipe);
                        console.log(recipe.wish_id);
                        axios.put(`/api/wish-recipe/${recipe.id}/`, recipe)
                        .then((response) => {
                            this.loading = false;
                            this.getWishes();
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                    });
                    this.getWishes();
                },
                deleteWish: function() {
                    this.loading = true;
                    axios.delete(`/api/wish/${this.currentWish.id}/`)
                        .then((response) => {
                            this.loading = false;
                            this.getWishes();
                            $("#delete-wish-modal").modal('toggle');
                            $("#wish-detail-modal").modal('toggle');
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                processWishFile: function(filelist, action) {
                    if (!filelist.length) return;

                    if (action == "add") {
                        this.newWish.image = filelist[0];
                    } else if (action == "edit") {
                        this.currentWish.image = filelist[0];
                        const data = URL.createObjectURL(filelist[0]);
                        this.currentWish_image = data;
                    }
                },
                openWishEditModal: function() {
                    $("#wish-detail-modal").modal('toggle');
                    $("#edit-wish-modal").modal('show');
                },
                searchWishes: function() {
                    this.loading = true;
                    axios.get(this.wishAPIUrls[this.sortType] + '/?search=' + this.word)
                        .then((response) => {
                            this.wishes = response.data;
                            this.loading = false;
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                switchSort: function(button) {
                    this.loading = true;
                    if (button == "title") {
                        if (this.sortType == "titleA") {
                            this.sortType = "titleD"
                        } else {
                            this.sortType = "titleA"
                        }
                    } else if (button == "date") {
                        if (this.sortType == "dateA") {
                            this.sortType = "dateD"
                        } else {
                            this.sortType = "dateA"
                        }
                    }
                    if (this.display == "works") {
                        this.getWorks();
                    } else {
                        this.getWishes()
                    }
                },
                searchItems: function() {
                    if (this.display == "works") {
                        this.searchWorks();
                    } else {
                        this.searchWishes()
                    }
                },
                clearSearch: function() {
                    this.getWorks();
                    this.getWishes();
                    this.word = "";
                },
                toggleIframe: function () {
                    if (this.display == "works") {
                        $("#work-detail-modal").modal('toggle');
                    } else {
                        $("#wish-detail-modal").modal('toggle');
                    }
                    $('#recipe-browser').toggle();
                    $('#left-list').toggle();
                },
            }
        });
    </script>
    <script type="text/javascript">
        axios.defaults.headers.common['X-CSRFToken'] = "{{ csrf_token }}";
        axios.defaults.headers.post['Content-Type'] = 'application/json';

        new Vue({
            el: '#vue-el-s',
            delimiters: ['${','}'],
            data: {
                ingredients: [],
                loading: false,
                currentIngredient: {},
                word: null,
                sortType: "expirationA",
                storageAPIUrl: null,
                storageAPIUrls:{ 'expirationA': '/api/storage/e-a', 'expirationD': '/api/storage/e-d', 'nameA': '/api/storage/n-a', 'nameD': '/api/storage/n-d' },
            },
            mounted: function() {
                this.getIngredients();
            },
            methods: {
                getIngredients: function() {
                    this.loading = true;
                    axios.get(this.storageAPIUrls[this.sortType])
                        .then((response) => {
                            this.ingredients = response.data;
                            this.loading = false;
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                getIngredient: function(id, action) {
                    this.loading = true;
                    axios.get(`/api/ingredient/${id}/`)
                        .then((response) => {
                            this.currentIngredient = response.data;
                            if (action == "edit") {
                                $("#edit-ingredient-modal").modal('show');
                            } else if (action == "delete") {
                                $("#delete-ingredient-modal").modal('show');
                            }
                            this.loading = false;
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                searchIngredients: function(word) {
                    this.loading = true;
                    axios.get(this.storageAPIUrls[this.sortType] + '/?search=' + word)
                        .then((response) => {
                            this.ingredients = response.data;
                            this.loading = false;
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                switchSort: function(th) {
                    this.loading = true;
                    if (th == "name") {
                        if (this.sortType == "nameA") {
                            this.sortType = "nameD"
                        } else {
                            this.sortType = "nameA"
                        }
                    } else if (th == "expiration") {
                        if (this.sortType == "expirationA") {
                            this.sortType = "expirationD"
                        } else {
                            this.sortType = "expirationA"
                        }
                    }
                    this.getIngredients();
                },
                updateIngredient: function() {
                    this.loading = true;
                    axios.put(`/api/ingredient/${this.currentIngredient.id}/`, this.currentIngredient)
                        .then((response) => {
                            this.loading = false;
                            this.currentIngredient = response.data;
                            this.getIngredients();
                            $("#edit-ingredient-modal").modal('toggle');
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                deleteIngredient: function() {
                    this.loading = true;
                    axios.delete(`/api/ingredient/${this.currentIngredient.id}/`)
                        .then((response) => {
                            this.loading = false;
                            this.getIngredients();
                            $("#delete-ingredient-modal").modal('toggle');
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                clearSearch: function() {
                    this.getIngredients();
                    this.word = "";
                }
            }
        })
    </script>
    <script>
        axios.defaults.headers.common['X-CSRFToken'] = "{{ csrf_token }}";
        axios.defaults.headers.post['Content-Type'] = 'application/json';

        new Vue({
            el: '#vue-el-l',
            delimiters: ['${', '}'],
            data: {
                items: [],
                currentItem: {},
                loading: false,
                newItem: { 'name' : null, 'amount' : null }
            },
            mounted: function () {
                this.getItems();
            },
            methods: {
                getItems: function () {
                    this.loading = true;
                    axios.get('/api/shopitem/')
                        .then((response) => {
                            this.items = response.data;
                            this.loading = false;
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                getItem: function (id, action) {
                    this.loading = true;
                    axios.get(`/api/shopitem/${id}/`)
                        .then((response) => {
                            this.currentItem = response.data;
                            if (action == "edit") {
                                $("#edit-item-modal").modal('show');
                            } else if (action == "delete") {
                                $("#delete-item-modal").modal('show');
                            }
                            this.loading = false;
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                updateItem: function () {
                    this.loading = true;
                    axios.put(`/api/shopitem/${this.currentItem.id}/`, this.currentItem)
                        .then((response) => {
                            this.loading = false;
                            this.currentItem = response.data;
                            this.getItems();
                            $("#edit-item-modal").modal('toggle');
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                checkItem: function (id) {
                    axios.get(`/api/shopitem/${id}/`)
                        .then((response) => {
                            this.currentItem = response.data;
                            this.currentItem.is_bought = !this.currentItem.is_bought;
                            this.loading = false;
                            axios.put(`/api/shopitem/${this.currentItem.id}/`, this.currentItem)
                                .then((response) => {
                                    this.loading = false;
                                    this.currentItem = response.data;
                                    this.getItems();
                                })
                                .catch((err) => {
                                    this.loading = false;
                                    console.log(err);
                                })
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                deleteItem: function () {
                    this.loading = true;
                    axios.delete(`/api/shopitem/${this.currentItem.id}/`)
                        .then((response) => {
                            this.loading = false;
                            this.getItems();
                            $("#delete-item-modal").modal('toggle');
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                addItem: function () {
                    this.loading = true;
                    axios.post('/api/shopitem/', this.newItem)
                        .then((response) => {
                            this.loading = false;
                            this.getItems();
                            this.newItem.name = null;
                            this.newItem.amount = null;
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                }
            }
        })
    </script>
    <script>
        $('.modal').on("hidden.bs.modal", function (e) {
            if ($('.modal:visible').length) {
                $('body').addClass('modal-open');
            }
        });
    </script>
{% endblock extra_js %}