{% extends "base_for_home.html" %}

{% block content %}
    {% load static %}
    <div class="row ml-1">
        <div class="col-12 col-sm-5 col-md-6 col-lg-7" style="background-color:#E2D1B1;" id="vue-el-w">
            <div id="left-list" class="h-100">
                <div class="row" id="util-row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <form v-on:submit.prevent="searchItems()" class="form-inline m-2">
                            <input
                                type="text"
                                class="form-control"
                                id="word"
                                placeholder="Search"
                                v-model="word"
                                v-on:input="clearSearch()">
                        </form>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <span>Sort: </span>
                        <button type="button" class="btn btn-info m-2" v-on:click="switchSort('title')">Title</button>
                        <button type="button" class="btn btn-info m-2" v-on:click="switchSort('date')">Date</button>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-center">
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="displayRadios" id="works-checkbox" value="works" checked="checked" v-model="display">
                          <label class="form-check-label" for="works-checkbox">Works</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="displayRadios" id="wish-list-checkbox" value="wish" v-model="display">
                          <label class="form-check-label" for="wish-list-checkbox">Wish List</label>
                        </div>
                    </div>
                </div>
                <div class="row" id="works-wishlist" style="overflow-y: scroll;">
                    <div v-if="display == 'works' && works.length == 0" class="d-flex align-items-center justify-content-center w-100">
                        <button type="button" class="btn m-2" data-toggle="modal" data-target="#add-work-modal">Add an Item to Works</button>
                    </div>
                    <div v-if="display == 'wish' && wishes.length == 0" class="d-flex align-items-center justify-content-center w-100">
                        <button type="button" class="btn m-2" data-toggle="modal" data-target="#add-wish-modal">Add an Item to Wish List</button>
                    </div>
                    <div v-if="display == 'works'" class="col-lg-4 col-md-6 col-sm-12 p-1" v-for="work in works" v-on:click="getWork(work.id)">
                        <div class="bg-white">
                            <div class="p-2">
                                <h4 class="text-center">${work.title}</h4>
                                <img v-bind:src="work.image" class="w-100">
                                <div class="text-right">${work.made_date}</div>
                            </div>
                        </div>
                    </div>
                    <div v-if="display == 'wish'" class="col-lg-4 col-md-6 col-sm-12 p-1" v-for="wish in wishes" v-on:click="getWish(wish.id)">
                        <div class="bg-white">
                            <div class="p-2">
                                <h4 class="text-center">${wish.title}</h4>
                                <img v-bind:src="wish.image" class="w-100">
                                <div class="text-right">${wish.date_created}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% include 'snippets/works_modals.html' %}
        {% include 'snippets/wishlist_modals.html' %}

        </div>
        <div class="col-12 col-sm-7 col-md-6 col-lg-5">
            <div style="background-color:#FFF9EF;" class="ml-1 mt-1 mr-2 pl-2 pr-2">
                <div id="vue-el-s" class="mb-0">
                    <form id="storage-search" v-on:submit.prevent="searchIngredients()" class="form-inline mt-2 ml-2 mb-2" style="display: inline-block;">
                        <input
                            type="text"
                            class="form-control"
                            id="word"
                            placeholder="Search"
                            v-model="word"
                            v-on:input="clearSearch()">
                    </form>
                    <div>
                        <table class="table table-sm  mt-0 mb-0">
                            <thead id="storage-thead" style="display: block;">
                              <tr>
                                <th scope="col" v-on:click="switchSort('name')" style="width: 230px">Name</th>
                                <th scope="col" v-on:click="switchSort('expiration')" style="width: 200px">Expiration Date</th>
                                <th scope="col" style="width: 50px"></th>
                                <th scope="col" style="width: 50px"></th>
                              </tr>
                            </thead>
                            <tbody id="storage-tbody" style="overflow-y: scroll; display: block;">
                                <tr v-for="ingredient in ingredients">
                                    <td v-on:dblclick="getIngredient(ingredient.id, 'edit')" style="width: 230px;">${ingredient.name}</td>
                                    <td v-on:dblclick="getIngredient(ingredient.id, 'edit')" style="width: 200px;"><span v-if="ingredient.expiration_date">${ingredient.expiration_date}</span></td>
                                    <td style="width: 50px;">
                                    {% load static %}
                                    <img v-if="ingredient.is_expired" src='{% static "image/caution-mark.png" %}' alt="expired" class="float-left" height="23px" />
                                    </td>
                                    <td v-on:click="getIngredient(ingredient.id, 'delete')" class="text-secondary" style="width: 50px;">&times;</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                 {% include 'snippets/storage_modals.html' %}

                </div>

                 <div id="vue-el-l" class="mb-0">
                     <h5 id="shoppinglist-title" style="display: inline-block;" class="mt-2">Shopping List</h5>
                     <span style="color: #D38E6C" class="ml-3" data-toggle="modal" data-target="#delete-all-items-modal">[Delete All]</span>
                     <div>
                        <form id="shoppinglist-add" v-on:submit.prevent="addItem()" class="form-inline mt-0 ml-2 mb-2" style="display: inline-block;">
                            <input
                                type="text"
                                class="form-control"
                                id="name"
                                placeholder="Name"
                                v-model="newItem.name"
                                required="required">
                            <input
                                type="text"
                                class="form-control"
                                id="amount"
                                placeholder="(Amount)"
                                v-model="newItem.amount">
                            <button type="submit" class="btn btn-dark ml-1">Add</button>
                        </form>
                     </div>
                     <table class="table table-sm mt-0 mb-0">
                        <thead id="shoppinglist-thead" style="display: block;">
                          <tr>
                            <th scope="col" style="width: 50px"></th>
                            <th scope="col" style="width: 230px">Name</th>
                            <th scope="col" style="width: 200px">Amount</th>
                            <th scope="col" style="width: 50px"></th>
                          </tr>
                        </thead>
                        <tbody id="shoppinglist-tbody" style="overflow-y: scroll; display: block; width:100%;">
                            <tr v-for="item in items">
                                <td style="width: 50px"><input type="checkbox" v-model="item.is_bought" v-on:click="checkItem(item.id)"></td>
                                <td v-on:dblclick="getItem(item.id, 'edit')" style="width: 230px">${item.name}</td>
                                <td v-on:dblclick="getItem(item.id, 'edit')" style="width: 200px"><span v-if="item.amount">${item.amount}</span></td>
                                <td v-on:click="getItem(item.id, 'delete')" class="text-secondary" style="width: 50px">&times;</td>
                            </tr>
                        </tbody>
                     </table>


                    <!-- Edit Item modal -->
                    <div class="modal fade" id="edit-item-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Edit Item</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <form v-on:submit.prevent="updateItem()" class="form-inline">
                            <div class="modal-body">
                              <input
                                type="text"
                                class="form-control"
                                id="name"
                                placeholder="Name"
                                v-model="currentItem.name"
                                required="required" >
                              <input
                                type="text"
                                class="form-control"
                                id="amount"
                                placeholder="(Amount)"
                                v-model="currentItem.amount">
                            </div>
                            <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" >Save changes</button>
                            </div>
                            </form>
                          </div>
                        </div>
                       <div class="loading" v-if="loading===true">Loading&#8230;</div>
                      </div>
                    <!-- End of Edit Item modal -->

                    <!-- Delete Item modal -->
                    <div class="modal fade" id="delete-item-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Delete Item</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <form v-on:submit.prevent="deleteItem()" class="form-inline">
                            <div class="modal-body">
                              Are you sure to delete "${currentItem.name}"?
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">No</button>
                            <button type="submit" class="btn btn-primary" >Yes</button>
                            </div>
                            </form>
                          </div>
                        </div>
                       <div class="loading" v-if="loading===true">Loading&#8230;</div>
                      </div>
                    <!-- End of Delete Item modal -->

                     <!-- Delete All Items modal -->
                    <div class="modal fade" id="delete-all-items-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Delete All Items from the Shopping List</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <form v-on:submit.prevent="deleteAllItems()" class="form-inline">
                            <div class="modal-body">
                              Are you sure to delete all items from the Shopping List?
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">No</button>
                            <button type="submit" class="btn btn-primary" >Yes</button>
                            </div>
                            </form>
                          </div>
                        </div>
                       <div class="loading" v-if="loading===true">Loading&#8230;</div>
                      </div>
                    <!-- End of Delete All Items modal -->
                 </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block extra_js %}
    <script type="text/javascript">
        axios.defaults.headers.common['X-CSRFToken'] = "{{ csrf_token }}";
        axios.defaults.headers.post['Content-Type'] = 'application/json';

        new Vue({
            el: '#vue-el-w',
            delimiters: ['${','}'],
            data: {
                display: "works",
                works: [],
                loading: false,
                currentWork: {},
                currentWork_recipes: [],
                currentWork_new_recipes: [],
                currentWork_image: null,
                newWork: { 'title': null, 'made_date': null, 'note': null, 'image': null },
                newWork_recipes: [{ 'work_id': null, 'link_title': "Recipe", 'url': null }],
                deleted_work_recipe: { 'work_id': null, 'link_title': "Recipe", 'url': null },
                workAPIUrls:{ 'titleA': '/api/works/t-a', 'titleD': '/api/works/t-d', 'dateA': '/api/works/d-a', 'dateD': '/api/works/d-d' },
                wishes: [],
                currentWish: {},
                currentWish_recipes: [],
                currentWish_new_recipes: [],
                currentWish_image: null,
                newWish: { 'title': null, 'note': null, 'image': null },
                newWish_recipes:[{ 'wish_id': null, 'link_title': "Recipe", 'url': null }],
                deleted_wish_recipe: { 'work_id': null, 'link_title': "Recipe", 'url': null },
                wishAPIUrls:{ 'titleA': '/api/wish-list/t-a', 'titleD': '/api/wish-list/t-d', 'dateA': '/api/wish-list/d-a', 'dateD': '/api/wish-list/d-d' },
                word: null,
                sortType: "dateD",
            },
            mounted: function() {
                this.getWorks();
                this.getWishes();
            },
            methods: {
                {% include 'snippets/works_methods.js' %}
                {% include 'snippets/wishlist_methods.js' %}

                getToday: function() {
                    const toTwoDigits = num => num < 10 ? '0' + num : num;
                    let today = new Date();
                    let year = today.getFullYear();
                    let month = toTwoDigits(today.getMonth() + 1);
                    let day = toTwoDigits(today.getDate());
                    return `${year}-${month}-${day}`;
                },
                switchSort: function(button) {
                    this.loading = true;
                    if (button == "title") {
                        if (this.sortType == "titleA") {
                            this.sortType = "titleD"
                        } else {
                            this.sortType = "titleA"
                        }
                    } else if (button == "date") {
                        if (this.sortType == "dateA") {
                            this.sortType = "dateD"
                        } else {
                            this.sortType = "dateA"
                        }
                    }
                    if (this.display == "works") {
                        this.getWorks();
                    } else {
                        this.getWishes()
                    }
                },
                searchItems: function() {
                    if (this.display == "works") {
                        this.searchWorks();
                    } else {
                        this.searchWishes()
                    }
                },
                openRecipe: function(url) {
                    let innerHeight = window.innerHeight;
                    let outerWidth = window.outerWidth;
                    let width_r = outerWidth - 600 - 100;
                    let left_u = width_r + 50;
                    let attribute_r = 'width=' + width_r + ', height=' + innerHeight + ', left=50, scrollbars=no, resizable=no';
                    window.open(url, 'recipe', attribute_r);
                    let attribute_u = 'width=600, height=' + innerHeight + ', left=' + left_u + ', scrollbars=no, resizable=no';
                    window.open('util-view', 'util', attribute_u);
                },
                clearSearch: function () {
                    if (this.word == null || this.word == "") {
                        if (this.display == "works") {
                            this.getWorks();
                        } else {
                            this.getWishes();
                        }
                    }
                }
            }
        });
    </script>
    <script type="text/javascript">
        {% include 'snippets/storage.js' %}
    </script>
    <script>
        axios.defaults.headers.common['X-CSRFToken'] = "{{ csrf_token }}";
        axios.defaults.headers.post['Content-Type'] = 'application/json';

        new Vue({
            el: '#vue-el-l',
            delimiters: ['${', '}'],
            data: {
                items: [],
                currentItem: {},
                loading: false,
                newItem: { 'name' : null, 'amount' : null }
            },
            mounted: function () {
                this.getItems();
                this.addEvents();
                this.manageHeights();
            },
            methods: {
                getItems: function () {
                    this.loading = true;
                    axios.get('/api/shopitem/')
                        .then((response) => {
                            this.items = response.data;
                            this.loading = false;
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                getItem: function (id, action) {
                    this.loading = true;
                    axios.get(`/api/shopitem/${id}/`)
                        .then((response) => {
                            this.currentItem = response.data;
                            if (action == "edit") {
                                $("#edit-item-modal").modal('show');
                            } else if (action == "delete") {
                                $("#delete-item-modal").modal('show');
                            }
                            this.loading = false;
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                updateItem: function () {
                    this.loading = true;
                    axios.put(`/api/shopitem/${this.currentItem.id}/`, this.currentItem)
                        .then((response) => {
                            this.loading = false;
                            this.currentItem = response.data;
                            this.getItems();
                            $("#edit-item-modal").modal('toggle');
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                checkItem: function (id) {
                    axios.get(`/api/shopitem/${id}/`)
                        .then((response) => {
                            this.currentItem = response.data;
                            this.currentItem.is_bought = !this.currentItem.is_bought;
                            this.loading = false;
                            axios.put(`/api/shopitem/${this.currentItem.id}/`, this.currentItem)
                                .then((response) => {
                                    this.loading = false;
                                    this.currentItem = response.data;
                                    this.getItems();
                                })
                                .catch((err) => {
                                    this.loading = false;
                                    console.log(err);
                                })
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                deleteItem: function () {
                    this.loading = true;
                    axios.delete(`/api/shopitem/${this.currentItem.id}/`)
                        .then((response) => {
                            this.loading = false;
                            this.getItems();
                            $("#delete-item-modal").modal('toggle');
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                addItem: function () {
                    this.loading = true;
                    axios.post('/api/shopitem/', this.newItem)
                        .then((response) => {
                            this.loading = false;
                            this.getItems();
                            this.newItem.name = null;
                            this.newItem.amount = null;
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                deleteAllItems: function () {
                    for (i in this.items) {
                        axios.delete(`/api/shopitem/${this.items[i].id}/`)
                            .then((response) => {
                                if (i == this.items.length - 1) {
                                    this.getItems();
                                    $("#delete-all-items-modal").modal('toggle');
                                }
                            })
                            .catch((err) => {
                                console.log(err);
                            })
                    }
                },
                addEvents: function () {
                    window.addEventListener("focus", this.getItems, false);
                    window.addEventListener("resize", this.manageHeights, false);
                },
                manageHeights: function () {
                    let navHeight = $('#nav').outerHeight(true);
                    let utilHeight = $('#util-row').outerHeight(true);
                    let windowHeight = window.innerHeight;
                    let leftHeight = windowHeight - utilHeight - navHeight;
                    document.getElementById('works-wishlist').style.height = `${leftHeight}px`;

                    let rightElHeight = (windowHeight - navHeight) / 2 - 2;
                    let storageTbodyHeight = rightElHeight - $('#storage-search').outerHeight(true) - $('#storage-thead').outerHeight(true);
                    document.getElementById('storage-tbody').style.height = `${storageTbodyHeight}px`;
                    let shoppinglistTbodyHeight = rightElHeight - $('#shoppinglist-title').outerHeight(true) - $('#shoppinglist-add').outerHeight(true) - $('#shoppinglist-thead').outerHeight(true);
                    document.getElementById('shoppinglist-tbody').style.height = `${shoppinglistTbodyHeight}px`;
                },
            },
        });
    </script>
    <script>
        $('.modal').on("hidden.bs.modal", function (e) {
            if ($('.modal:visible').length) {
                $('body').addClass('modal-open');
            }
        });

    </script>
{% endblock extra_js %}