<!-- Work detail Modal -->
<div class="modal fade" id="work-detail-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">${currentWork.title}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-4"><img v-bind:src="currentWork.image" class="w-100 "></div>
              <div class="col-md-8">
                <div v-for="recipe in currentWork_recipes">
                    <a v-if="display" v-on:click="toggleIframe()" target="recipe-frame" v-bind:href="recipe.url">${recipe.link_title}</a>
                    <a v-else target="_blank" v-bind:href="recipe.url">${recipe.link_title}</a>
                </div>
                <div>${currentWork.made_date}</div>
                <div>${currentWork.note}</div>
              </div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#delete-work-modal">Delete</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" data-toggle="modal" v-on:click="openEditWorkModal()">Edit</button>
      </div>
    </div>
  </div>
</div>
<!-- End of Work detail Modal -->

<!-- Add Work Modal -->
  <div class="modal fade" id="add-work-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">ADD Work</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form enctype="multipart/form-data" v-on:submit.prevent="addWork()">
        <div class="modal-body">
            <div class="form-group">
              <label for="image">Image</label>
              <input
                type="file"
                class="form-control"
                id="newWork_image"
                accept=".jpg, .jpeg, .png"
                @change="processWorkFile($event.target.files, 'add')">
            </div>
            <div class="form-group">
              <label for="title">Title</label>
              <input
                type="text"
                class="form-control"
                id="title"
                placeholder="Enter title"
                v-model="newWork.title"
                required="required" >
            </div>
            <div class="form-group">
              <label for="made_date">Date</label>
              <input
                type="date"
                class="form-control"
                id="made_date"
                v-model="newWork.made_date"
                required="required">
            </div>
            <div v-for="recipe in newWork_recipes">
                <hr>
                <div class="form-group">
                  <label for="title">Recipe URL</label>
                  <input
                    type="url"
                    class="form-control"
                    id="title"
                    placeholder="Enter url"
                    v-model="recipe.url" >
                </div>
                <div class="form-group">
                  <label for="title">Recipe title</label>
                  <input
                    type="text"
                    class="form-control"
                    id="title"
                    placeholder="Enter title"
                    v-model="recipe.link_title" >
                </div>
            </div>
            <div class="text-right"><a href="#" v-on:click="appendWorkRecipeList">Add more recipe</a></div>
            <div class="form-group">
              <label for="note">Note</label>
              <textarea
                class="form-control"
                id="note"
                placeholder="Enter Note"
                v-model="newWork.note"
                rows="3"></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
        </form>
      </div>
    </div>
   <div class="loading" v-if="loading===true">Loading&#8230;</div>
  </div>
<!-- End of Add Work modal -->

<!-- Edit Work Modal -->
  <div class="modal fade" id="edit-work-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">EDIT Work</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form v-on:submit.prevent="updateWork()">
        <div class="modal-body">
            <div class="form-group">
              <label for="image">Image</label>
                <div>
                <img v-bind:src="currentWork_image" class="w-25 mb-1">
                </div>
              <input
                type="file"
                class="form-control"
                id="currentWork_image"
                accept=".jpg, .jpeg, .png"
                @change="processWorkFile($event.target.files, 'edit')">
            </div>
            <div class="form-group">
              <label for="title">Title</label>
              <input
                type="text"
                class="form-control"
                id="title"
                placeholder="Enter title"
                v-model="currentWork.title"
                required="required" >
            </div>
            <div class="form-group">
              <label for="made_date">Date</label>
              <input
                type="date"
                class="form-control"
                id="made_date"
                v-model="currentWork.made_date"
                required="required">
            </div>
            <div v-for="recipe in currentWork_recipes">
                <hr>
                <div v-bind:id="'recipe-' + recipe.id" >
                    <div class="text-right"><a href="#" v-on:click="setDeletedWorkRecipe(recipe)" data-toggle="modal" data-target="#delete-work-recipe-modal">Delete this field</a></div>
                    <div class="form-group ">
                      <label for="title">Recipe URL</label>
                      <input
                        type="text"
                        class="form-control"
                        id="title"
                        placeholder="Enter url"
                        v-model="recipe.url" >
                    </div>
                    <div class="form-group">
                      <label for="title">Recipe title</label>
                      <input
                        type="text"
                        class="form-control"
                        id="title"
                        placeholder="Enter title"
                        v-model="recipe.link_title" >
                    </div>
                </div>
            </div>
             <div v-for="recipe in currentWork_new_recipes">
                 <hr>
                <div class="form-group">
                  <label for="title">Recipe URL</label>
                  <input
                    type="url"
                    class="form-control"
                    id="title"
                    placeholder="Enter url"
                    v-model="recipe.url" >
                </div>
                <div class="form-group">
                  <label for="title">Recipe title</label>
                  <input
                    type="text"
                    class="form-control"
                    id="title"
                    placeholder="Enter title"
                    v-model="recipe.link_title" >
                </div>
            </div>
            <div class="text-right"><a href="#" v-on:click="appendCurrentWorkRecipeList">Add more recipe</a></div>
            <div class="form-group">
              <label for="note">Note</label>
              <textarea
                class="form-control"
                id="note"
                placeholder="Enter Note"
                v-model="currentWork.note"
                rows="3"></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
        </form>
      </div>
    </div>
   <div class="loading" v-if="loading===true">Loading&#8230;</div>
  </div>
<!-- End of Edit Work modal -->

<!-- Delete Work Recipe modal -->
<div class="modal fade" id="delete-work-recipe-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Delete Work</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form v-on:submit.prevent="deleteWorkRecipe()" class="form-inline">
        <div class="modal-body">
          Are you sure to delete "${deleted_work_recipe.link_title}"?
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">No</button>
        <button type="submit" class="btn btn-primary">Yes</button>
        </div>
        </form>
      </div>
    </div>
   <div class="loading" v-if="loading===true">Loading&#8230;</div>
  </div>
<!-- End of Delete Work Recipe modal -->

<!-- Delete Work modal -->
<div class="modal fade" id="delete-work-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Delete Work</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form v-on:submit.prevent="deleteWork()" class="form-inline">
        <div class="modal-body">
          Are you sure to delete "${currentWork.title}"?
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary m-progress" data-dismiss="modal">No</button>
        <button type="submit" class="btn btn-primary">Yes</button>
        </div>
        </form>
      </div>
    </div>
   <div class="loading" v-if="loading===true">Loading&#8230;</div>
  </div>
<!-- End of Delete Work modal -->
