{% extends "base.html" %}

{% block content %}
    {% load static %}
    <div id="vue-el">
    <div class="row">
        <div class="col-3">
            <form v-on:submit.prevent="searchWorks(word)" class="form-inline m-2">
                <input
                    type="text"
                    class="form-control"
                    id="word"
                    placeholder="Search"
                    v-model="word">
            </form>
        </div>
        <div class="col-8">
            <span>Sort: </span>
            <button type="button" class="btn btn-info m-2" v-on:click="switchSort('title')">Title</button>
            <button type="button" class="btn btn-info m-2" v-on:click="switchSort('date')">Made Date</button>
        </div>
        <div class="col-1">
            <input type="image" src='{% static "image/add-button.png" %}' class="add-button" data-toggle="modal" data-target="#add-work-modal"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-5 p-1" v-for="work in works" v-on:click="getWork(work.id)">
            <div class="bg-white">
                <div class="p-2">
                    <h4 class="text-center">${work.title}</h4>
                    <img v-bind:src="work.image" class="w-100">
                    <div class="text-right">${work.made_date}</div>
                </div>
            </div>
        </div>
    </div>

    {% include 'snippets/works_modals.html' %}

</div>
{% endblock content %}

{% block extra_js %}
    <script type="text/javascript">
        axios.defaults.headers.common['X-CSRFToken'] = "{{ csrf_token }}";
        axios.defaults.headers.post['Content-Type'] = 'application/json';

        new Vue({
            el: '#vue-el',
            delimiters: ['${','}'],
            data: {
                works: [],
                loading: false,
                currentWork: {},
                currentWork_recipes: [],
                currentWork_new_recipes: [],
                currentWork_image: null,
                newWork: { 'title': null, 'made_date': null, 'note': "", 'image': null },
                newWork_recipes: [{ 'work_id': null, 'link_title': "Recipe", 'url': null }],
                deleted_work_recipe: { 'work_id': null, 'link_title': "Recipe", 'url': null },
                word: null,
                sortType: "dateD",
                workAPIUrls:{ 'titleA': '/api/works/t-a', 'titleD': '/api/works/t-d', 'dateA': '/api/works/d-a', 'dateD': '/api/works/d-d' },
                display: null,
            },
            mounted: function() {
                this.getWorks();
                this.setDefaultValue();
            },
            methods: {
                {% include 'snippets/works_methods.js' %}

                getToday: function() {
                    const toTwoDigits = num => num < 10 ? '0' + num : num;
                    let today = new Date();
                    let year = today.getFullYear();
                    let month = toTwoDigits(today.getMonth() + 1);
                    let day = toTwoDigits(today.getDate());
                    return `${year}-${month}-${day}`;
                },
                setDefaultValue: function () {
                    this.newWork.made_date = this.getToday();
                },
                searchWorks: function(word) {
                    this.loading = true;
                    axios.get(this.workAPIUrls[this.sortType] + '/?search=' + word)
                        .then((response) => {
                            this.works = response.data;
                            this.loading = false;
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                switchSort: function(button) {
                    this.loading = true;
                    if (button == "title") {
                        if (this.sortType == "titleA") {
                            this.sortType = "titleD"
                        } else {
                            this.sortType = "titleA"
                        }
                    } else if (button == "date") {
                        if (this.sortType == "dateA") {
                            this.sortType = "dateD"
                        } else {
                            this.sortType = "dateA"
                        }
                    }
                    this.getWorks();
                },
            }
        });
    </script>
    <script>
        $('.modal').on("hidden.bs.modal", function (e) {
            if ($('.modal:visible').length) {
                $('body').addClass('modal-open');
            }
        });
    </script>
{% endblock extra_js %}